// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* /////////////////////////////////////////////////////////////////////
//  01 - Variables
/////////////////////////////////////////////////////////////////////*/
$gold: #bea13f !default;
$gold-dark: #ae903f !default;

/* /////////////////////////////////////////////////////////////////////
//  02 - Global
/////////////////////////////////////////////////////////////////////*/

body {
  background-color: $white;
  color: $gray-800;
}

a,
a:visited,
a:active {
  color: $gold;
}

a:hover {
  color: $gold-dark;
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////
//  03 - Posts
/////////////////////////////////////////////////////////////////////*/
.post-edit-options {
  background-color: $gray-200;
}

/* /////////////////////////////////////////////////////////////////////
//  04 - Navigation
/////////////////////////////////////////////////////////////////////*/
.navbar-laravel {
  color: $body-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  background-color: $white;
}

/* /////////////////////////////////////////////////////////////////////
//  05 - Blog post
/////////////////////////////////////////////////////////////////////*/
.blog-post-title {
  color: $gold;
  font-weight: 700;
}

/* /////////////////////////////////////////////////////////////////////
//  06 - Footer
/////////////////////////////////////////////////////////////////////*/

footer {
  background-color: $gray-900;
  color: $gray-600;
}